{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Encryption | Hill Cipher</title>
{% endblock %}
  {% block content %}
      <h3>Hill Cipher Encryption</h3>
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
      </form>
      {% if cipher %}
          <script> window.location.hash = '#cipher'; </script>
          <h2 id="cipher">
          Cipher text is -
          <p>
              {{ cipher }}
          </p>
          </h2>
      {% endif %}
{% endblock %}

