{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <title>Encryption | Substitution</title>
{% endblock %}

{% block content %}
    <h3>Substitution Encryption</h3>
    <h4 style="margin-left: 100px">Key size 26 letter with updated order</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if cipher %}
          <script> window.location.hash = '#cipher'; </script>
          <h2 id="cipher">
          Cipher text is -
          <p>
              {{ cipher }}
          </p>
          </h2>
      {% endif %}
{% endblock %}
