{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title> Cryptoanalysis | Playfair</title>
{% endblock %}

{% block content %}
    <h3>Playfair Cryptoanalysis</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if plain %}
          <script> window.location.hash = '#plain'; </script>
          <h2 id="plain">
          Cipher text is -
          <p>
              {{ plain }}
          </p>
          </h2>
      {% endif %}
{% endblock %}