{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <title>Decryption | Rail Fence</title>
{% endblock %}

{% block content %}
    <h3>Rail Fence Decryption</h3>
    <h4 style="margin-left: 100px">Key in integer</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if plain %}
          <script> window.location.hash = '#plain'; </script>
          <h2 id="plain">
          Cipher text is -
          <p>
              {{ plain }}
          </p>
          </h2>
      {% endif %}
{% endblock %}
